<!DOCTYPE html>
<html ng-app="leaderBoardApp">

<head>
  <title>Leader Board</title>
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <style type="text/css">
  .eachPr {
    padding: 10px;
    border-bottom: 1px solid #DEDDDD;
  }
  
  #reviews {
    height: 658px;
    border-right: 1px solid #DEDDDD;
  }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script>
  var leaderBoard = angular.module('leaderBoardApp', []);

  leaderBoard.controller('appCtrl', function($scope) {
    (function() {
      socket.on('updatePrs', function(data) {
        $scope.dataBase = data.res;
        $scope.$apply();
      });
    })();
  }).filter('orderObjectBy', function() {
    return function(items, field, reverse) {
      var filtered = [];
      angular.forEach(items, function(item) {
        filtered.push(item);
      });
      filtered.sort(function(a, b) {
        return (a[field] > b[field] ? 1 : -1);
      });
      if (reverse) filtered.reverse();
      return filtered;
    };
  });
  var socket = io();
  </script>
</head>

<body ng-controller="appCtrl">
  <div class="row">
    <div class="seven columns">
      <div id="reviews">
        <div ng-repeat="(rowkey, rowVal) in dataBase.prs" class="eachPr">
          Pull request <a href="{{rowkey}}">{{rowVal.title}}</a> is been submitted by {{rowVal.openedBy}} at {{rowVal.created | date:'medium'}}
          <div>
            Reviewed by: <span ng-repeat="name in dataBase.reviewedBy">{{name}} ,</span>
          </div>
        </div>
      </div>
    </div>
    <div class="four columns">
      <div id="board">
        <div ng-repeat="(rowkey, rowVal) in dataBase.users | orderObjectBy:'score':true">
          <span>{{rowVal.name}}</span> <span><a href="rowVal">{{rowVal.score}}</a></span>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
