<!DOCTYPE html>
<html ng-app="leaderBoardApp">

<head>
  <title>Leader Board</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
  <script>
  var leaderBoard = angular.module('leaderBoardApp', []);

  leaderBoard.controller('appCtrl', function($scope) {
    (function() {
      socket.on('updatePrs', function(data) {
        $scope.dataBase = data.res;
        $scope.$apply();
      });
    })();
  });

  var socket = io();
  </script>
  <script>
    var pusher = new Pusher('0b4bf9e74a4c99c2f54f', {
      encrypted: true
    });
    var channel = pusher.subscribe('test_channel');
    channel.bind('my_event', function(data) {
      alert(data.message);
    });
  </script>
</head>

<body ng-controller="appCtrl">
  Leader Board
  <div id="reviews">
    <div ng-repeat="(rowkey, rowVal) in dataBase.prs">
      <span>{{rowkey}}</span> <span><pre><a href="rowVal">{{rowVal}}</a></span></pre>
    </div>
  </div>
  <div id="board">
    <div ng-repeat="(rowkey, rowVal) in dataBase.users">
      <span>{{rowkey}}</span> <pre><span><a href="rowVal">{{rowVal}}</a></span></pre>
    </div>
  </div>
</body>

</html>
